
html{
    margin:0;
    height:120%;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  body {
      background-color: lightgray;
  }
  
  a {
    text-decoration: none;
  }

  h2, h3, p, ul, li {
    text-align: center;
  }

  ul {
    list-style-position: inside;
  }


  h2 {
    font-size: 25px;
    line-height: 1;
  }

  h3 {
    font-size: 15px;
    line-height: 1;
  }

  /* The header is the most complicated part of the page because it is a static image that stays fixed while you scroll */

  header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    vertical-align: middle;
    height: 50vw;
    min-height: 500px;
    max-height: 700px;
    min-width: 300px;
    color:#eee;
  }

  header:after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
  }

  header::before {
    content:"";
    width:100vw;
    height:100vh;
    position:absolute;
    background: #1B2030 url(https://raw.githubusercontent.com/HumzaShaukat/MyPortfolio/main/Assets/Sunset.png);
    background-size:100%;
    background-attachment:fixed;
    z-index: -2;
  }

  header a{
    color:#eee;
  }
  
  /* The "info" block is what contains my name, address, email, and phone number */

  .info{
    display: block;
    width: 100vw;
    padding: 15% 10% 0 10%;
    text-align: center;
    text-shadow:0 2px 3px rgba(0,0,0,0.2);
    
  }
  
  /* The nav bar is 5 links that take you to the different sections.  Eventually they will be separate pages.   */

  nav {
      display: flex;
      flex-wrap: wrap;
  }
  
  nav a {
      padding: 25px;
      font-size: 20px;
      flex: 1 2 1;      

  }
  
  h1 {
    padding:5% 10%;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    line-height: 1;
  }

  /* Most of the body sections and formatting is surrounded around placing the text and content in the center of the screen as well as making sure it is responsive to screen size */

  .about {
    display: flex;
    flex-direction: column;
    margin: 10%;
    align-items: center;
  }

  .headshot  {
    flex: 2 2 auto;
    height: 35vh;
    width: 35vh;
    border: 2px solid black;
  }

  .about p {
    font-size: 20px;
    color: black;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    align-content: center;
  }

  .portfolio .firstcard, .portfolio1 {
    order: 0;
    max-width: 50vw;
    display: flex;
    justify-content: center;
  }

  .firstcard img {
    max-height: 50vh;
    max-width: 50vw;
  }

  .portfolio1 {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio1 img {
    max-width: 35vw;;
  }
  
  .card img {
    min-height: 17vh;
    max-height: 30vh;
    max-width: 40vw;
    padding: 15px;
    z-index: -1;
  }

  .experience {
   flex: 2 2 auto;
   margin-left: 2vw;
   margin-right: 2vw;
  }

  footer {
    display: flex;
    margin: 0;
    justify-items: left;
    background-color: #1B2030;
    height: 15vh;
   }

   #contact {
    display: flex;
    align-items: center;
   }

   .btn {
    display: flex;
    justify-items: center;
   }
  /* When a larger smartphone opens this page, its static elements will flex to better fit the screen */
  @media screen and (max-width: 768px) {
    .header {
      width: 50vw;
      height: 50vh;
    }

    nav a {
      flex: 2 2;
    }
    .portfolio1 {
      flex-direction: column;
    }

    .portfolio1 img {
      max-height: 85vh;
      max-width: 85vw;
    }
  }

  footer {
    display: flex;
    justify-content: center;
  }

  .btn {
    margin-left: 1vw;
    margin-right: 1vw;
    border: white 2px solid;
    border-radius: 5px;
    background-color: #1B2030;
    color: white;
    padding: 5px 5px 6px 6px;
  }